html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0 43 54);
    color: rgb(131 148 150)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(147 161 161)
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
}

.centerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
    min-height: 20vh;
    border: 2px white solid;
}